<main id="main-content" tabindex="-1" ng-controller="DisclaimerCtrl">
    <div class="pre-content">


        <section class="ma__page-header ">
            <div class="ma__page-header__content">
                <div class="ma__page-header__category">
                    MSRB
                </div>
                <h1 class="ma__page-header__title"><span class="visually-hidden">MSRB&nbsp;</span>Retirement Calculator</h1>
            </div>

        </section>
    </div>
    <div class="main-content main-content--two">
        <div class="page-content">

            <section class="ma__rich-text js-ma-rich-text">
                <h3 class="ma__column-heading">Disclaimer</h3>
                <p>{{disclaimer}}</p>
                <button ng-click="go()" type="submit" class="ma__button ma__button--small" aria-label="">Agree and continue</button>
            </section>
        </div>
    </div>
    <div class="post-content">
    </div>
</main>
