#form {
    // width: 400px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    font-size: 0.8em;
    // margin: 50px auto;
    // text-align: center;
    // position: relative;
    fieldset {
        background: white;
        border: 0 none;
        border-radius: 3px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        box-sizing: border-box;
        // width: 8A0%;
        // margin: 0 10%;
        position: relative;
    }

    fieldset:not(:first-of-type) {
        display: none;
    }

    input,
    textarea {
        padding: 15px;
        border: 1px solid $c-gray-dcdcdc;
        border-radius: 3px;
        margin-top: 20px;
        margin-bottom: 30px;
        box-sizing: border-box;
        font-family: 'Montserrat' !important;
        color: #2C3E50;
        font-size: 13px;
    }
    .error-message {
        display: none;
    }

    .error {

        .error-message {
            display: block;
        }
    }
}



input,
textarea {
    font-family: 'Montserrat' !important;
}
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    overflow: hidden;
    counter-reset: step;
    -webkit-padding-start: 0;
    /*CSS counters to number the steps*/
    counter-reset: step;
    margin: 2em 0;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    margin: 0 5px;
    position: relative;

    &:before {
        content: counter(step);
        counter-increment: step;
        display: block;
        color: #333;
        padding: 0.5em 1em;
        border-radius: 3px;
    }

    &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 10px;
        left: -10px;
        top: 45%;
        color: lighten($c-theme-primary-3, 30);
    }

    &:first-child:after {
        content: none;
    }
}

#progressbar li.active:after,
#progressbar li.active:before {
    background: lighten($c-theme-primary-3, 30);
    color: white;
}
