{
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "env": {
        "browser": true,
        "mocha": true
    },
    "plugins": ["react"],
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "rules": {
        "brace-style": ["error", "1tbs"],
        "linebreak-style": ["error", "unix"],
        "max-len": ["warn", 80],
        "indent": ["error", 4],
        "camelcase": "error",
        "eqeqeq": "warn",
        "semi": "error",
        "quotes": ["error", "single"],
        "curly": "error",
        "no-eval": "error",
        "yoda": "warn",
        "no-var": "error",
        "prefer-const": "warn",
        "react/prop-types": "off",
        "no-trailing-spaces": "error",
        "no-unused-vars": ["error", { "vars": "all", "args": "none"}]
    }
}
