<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta charset="UTF-8"/>
	<title>ReactJS + Spring Data REST</title>
	<link rel="stylesheet" href="/main.css" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
	<!-- Mayflower -->
	<link rel="stylesheet" href="https://www.mass.gov/files/css/css_B5w5X-2-GBC8Ry0V6xr4Fftb6ebrzDRZmn4w70dsQSI.css?oypp6y"/>
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css"/>
	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.2.0/jquery.fitvids.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
	<script type="text/javascript">
		window.ma = {"themePath":"http://mayflower.digital.mass.gov/assets"}
	</script>
</head>
<body>

	<div id="react"></div>

	<script src="built/bundle.js"></script>

</body>
</html>