$font-family: "Texta", "Helvetica", "Arial", "sans-serif";

$c-theme-primary-1: #14558f;
$c-theme-primary-2: #43956f;
$c-theme-primary-3: #535353;
$c-theme-primary-4: #141414;
$c-theme-secondary-1: #f6c51b;
$c-gray-f2f2f2: #f2f2f2;
$c-gray-dcdcdc: #dcdcdc;

$underline-border: 1px dashed;

$max-width: 1320px;
