<div class="container top-margin">

    <a class="glyphicon glyphicon-menu-left" href="#!/calculate/job"></a>

    <div class="row center">
        <div class="col-sm-2"> </div>
        <div class="col-sm-8">
            <div class="progress">
                <div class="progress-bar progress-bar-striped"
                     role="progressbar"
                     aria-valuenow="60"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     style="width: 50%;">
                </div>
            </div>

            <hr>

            Would you like to calculate your benefits under Option C?
            <a class="modal-label" data-toggle="modal" data-target=".bd-example-modal-lg">more information</a>

            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        Upon your death, your designated beneficiary will be paid a monthly allowance for the remainder of
                        his or her life. The survivor benefit will be equal to two-thirds of the allowance
                        that was being paid to you at the time of your death.
                        Your monthly allowance received under Option C depends upon life expectancy
                        factors for you and your designated beneficiary. Eligible beneficiaries under
                        Option C include: spouse, parent, unmarried former spouse, sibling or child.

                        <p> If you choose Option C and your
                            beneficiary predeceases you, you cannot name a different Option C beneficiary.
                            However, your monthly benefit will “pop up” to the Option A benefit amount
                            that you would have received on the date of your retirement, plus any cost-ofliving
                            adjustments. </p>
                    </div>
                </div>
            </div>

            <hr>
            <a class="btn btn-default"
               href="#!/calculate/job/c">Yes</a>

            <a class="btn btn-default"
               href="#!/calculate/check">No</a>

            <hr>
        </div>
    </div>
        <div class="col-sm-2"> </div>
</div>